.mat-tab-group {
  margin: 40px 20%;
}

.input-category {
  width: 50%;
}

.devices-container {
  display: flex;
  justify-content: space-between;
}

.btn-imput {
  height: 55px;
}

@media (max-width: 600px) {
  .mat-tab-group {
    margin: 20px 5%;
  }
}
